<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MuelleAmortiguado.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFD375D91BC3E6BE008CCD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFD375ED1BC3E6BF008CCD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFD375F81BC3E6BF008CCD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
